*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #8E5232;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6,1fr);
    height: 100vh;
}

body p{
    font-family: 'Inconsolata', monospace
}


.main-bg{
    background-color: #99B051;
    grid-column: 3/11;
    grid-row: 2/6;
    display:grid;
    grid-template-columns:repeat(8,1fr);
    grid-template-rows: repeat(5,1fr);
}


header{
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}


header p{
    grid-column: 3/11;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
}

aside{
    font-size: 22px;
    font-weight: 500;
    grid-column:3/9;
    grid-row: 3/6;
    display:flex;
    justify-content: center;
    align-items: center;
    line-height: 2em;
}

aside span:first-of-type{
    font-weight:bold;
}


aside a{
    cursor:crosshair;
    text-decoration: underline;
    color: black;
    
}

aside a:hover{
    animation-name: hover-link;
    animation-duration: 5s ;
    animation-iteration-count: infinite;
    text-decoration: underline;
    text-decoration-color: yellow ;
}

a{
    cursor:crosshair;
}


#main_gandalf{

    grid-column: 1/9;
}

#main_gandalf p:first-child{
    padding-top: 12px;
    font-size: 50px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}


.pacghost{
  position:absolute;
  top: 30%;
  left: 45%;
  width: calc(608px/4);
  height: 152px;
  background:url(./img/spritesheetPacghost.png);
  animation: pacghost 4s steps(4) infinite;
}

#main_pika{
    grid-column: 1/4;
    grid-row: 3/6;
    
}

.pika-sprite{
    position: relative;
    top: 15%;
    left: 5%;
    width : calc(776px /4);
    height: 194px;
    background:url(./img/spritesheetPika.png);
    animation: pika 8s steps(4) infinite; 
}



/* Animations */

@keyframes pacghost {

from{
    background-position: 0;
}
to{
    background-position: 608px;
}
}

@keyframes pika{
from{
    background-position: 0;
}

to{
    background-position: 776px;
}
} 

@keyframes hover-link {
    0%   {text-decoration-color: yellow;}
    25%  {text-decoration-color: #56E0CC;}
    50%  {text-decoration-color: #FBB451;}
    100% {text-decoration-color :#FD0000;}
  }