*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #8E5232;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6,1fr);
    height: 100vh;
}

body p{
    font-family: 'Inconsolata', monospace
}


.main-bg{
    background-color: #99B051;
    grid-column: 3/11;
    grid-row: 2/6;
    display:grid;
    grid-template-columns:repeat(8,1fr);
    grid-template-rows: repeat(5,1fr);
}


header{
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);    
}


header p{
    grid-column: 3/11;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
}

#main_gandalf{

    grid-column: 1/9;
}



#main_gandalf p:first-child{
    font-size: 50px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
    

.creepy-ghost{
  /* background-color : red; */
  position:absolute;
  top: 25%;
  left: 45%;
  width: calc(1000px/11);
  height: 133px;
  background:url(/img/ghostSpritesheetScaled.png);
  animation: spoky 1s steps(11) infinite;
}

/* Animations */

@keyframes spoky{
from{
    background-position: 0;
}
to{
    background-position: 1000px;
}
}